<!DOCTYPE html>
<html>
<head>
  <title>RAWRR</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <script type="text/javascript">
	var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true, "hide": { "droppedby": true, "dropchance": true } }
	var characters = {{{ json characters }}}
	var lists = {{{ json lists }}}
	var logs = {{{ json logs }}}
	var raid_data = {{{ json raid_data false }}}
</script>
</head>
<body>
<script type="text/javascript" src="client.js"></script>
</body>
</html>