@import (less) "semantic-ui-css/semantic.css";

@color-class-deathknight: #C41F3B;
@color-class-druid: #FF7D0A;
@color-class-hunter: #ABD473;
@color-class-mage: #69CCF0;
@color-class-monk: #00FF96;
@color-class-paladin: #F58CBA;
@color-class-priest: #FFFFFF;
@color-class-rogue: #FFF569;
@color-class-shaman: #0070DE;
@color-class-warlock: #9482C9;
@color-class-warrior: #C79C6E;

@class-colors: deathknight  #C41F3B, druid  #FF7D0A, hunter  #ABD473, mage  #69CCF0, monk  #00FF96, paladin  #F58CBA, priest  #FFFFFF, rogue  #FFF569, shaman  #0070DE, warlock  #9482C9, warrior  #C79C6E;

.buildActiveClassList(@iterator:1) when(@iterator <= length(@class-colors)) {
    @class: extract(extract(@class-colors, @iterator),1);
    .ui.selection.list > .item.active.class.class-@{class} {
        background-color: extract(extract(@class-colors, @iterator),2);
    }
    .buildActiveClassList((@iterator + 1));
}
.buildActiveClassList();
 
 .ui.selection.list > .item.class {
 	text-color: black;
 	background-color: #9F9F9F;
 }

 .ui.selection.list > .item.class:hover {
 	background-color: #D5D5D5;
 }
 
.ui.mini.form {
    font-size: 0.625em;
}
 
div.raid-log span {
	font-size: .9em;
} 
 